/* Specifikation */

body {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

html { 
    position:relative;
    min-height:100%;
}

.container {
    display: grid;
}

#container {
    padding-bottom: 100px;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}

.title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.title__main {
    font-size: 32px;
}

.title__text {
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}

.yellow {
    color: #fcdb00;
}


/* Header */

.header {
    background: #000;
    color: #010101;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu {
    margin-top: 8px;
}

.menu__item {
    margin: 0 65px;
}

.menu__item a {
    font-size: 22px;
    font-weight: 700;
    color: #ff4800;
}

.offer {
    margin-top:117px;
}

.offer__title {
    font-size:32px;
    margin-bottom: 15px;
}

.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
}

.offer__text {
    font-size: 16px;
    margin-top:15px;
    color: #555555;
    width: 400px;
}

.icons__item {
    margin-right:30px;
}

.icons__item a {
    color: #000;
    font-size: 42px;
    transition: all 0.3s ease;
}

.icons__item a:hover {
    text-decoration: none;
    color: #ff4800;
}

.ipad {
    display: block;
    margin: 60px auto 0;
}

/* Feature */

.feature {
    padding-top: 8px;
    padding-bottom: 8px;
    padding:8px 0 8px;
}

.menu {
    margin-top:8px;
}

.feature__icon {
    font-size: 50px;
    margin-right: 37px;
    color: #000
}

.feature__text {
    color: #898989
}

/* Foter */

.footer {
    position: absolute;
    bottom: 0; width: 100%;
    background: #000;
    padding:8px 0 8px;
}

/* Form */

.touch {
    background: #010101;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.form {
    text-align: center;
}

.form h2{
    margin-right: 37px;
    color: #fff;
}

.form__input {
    background: #fff;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    width: 280px;
    padding: 5px 0;
    margin-right:21px;
    border: 0;
    padding-left:23px;
    outline: none;
}

.form__btn {
    font-family: 'PT Sans', sans-serif;
    background: #fcdb00;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 126px;
    border: 0;
    padding: 5px 0;
    cursor: pointer;
    outline: none;
}

.credits {
    color: #ff4800;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;    
    text-align: center;
}

/* 404 */

#notfound {
    background: #030005;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
    font-size: 224px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -12px;
    color: #030005;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
    letter-spacing: -20px;
  }
  
  
  .notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    font-size: 42px;
    font-weight: 700;
    color: #ff4800;
    text-transform: uppercase;
    text-shadow: 0px 2px 0px #8400ff;
    letter-spacing: 13px;
    margin: 0;
  }
  
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #ff005a;
    text-decoration: none;
    border: 2px solid;
    background: transparent;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    color: #8400ff;
  }

/* Media */

@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .offer {
        text-align: center;
    }
    .offer__text {
        margin: 20px auto;
        width: auto;
    }
    .icons {
        justify-content: center;
    }
    .icons__item:nth-child(3) {
        margin-right: 0;
    }
    .form__input {
        margin-right:0;
        width: 100%;
    }
    .form__btn {
        margin-top: 20px;
        width: 100%;
    }
    .title__text {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .ipad {
        width: 100%;
    }
    .menu {
        flex-direction: column;
    }
    .menu__item {
        text-align: center;
        margin-bottom:10px;
    }
}
