{% extends "base.html" %}

{% block title %}
  Courses
{% endblock %}

{% block hello %}
<div class="container">
  <form  method="POST">
    
      <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <div>
                  <label for="inputState">Select currency</label>
                  <select select name="cur_abbreviation" id="inputState" class="form-control">
                    <option  value="ALL" selected>ALL</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="RUB">RUB</option>
                  </select>
                </div>
            </div><!-- /input-группа --> 
            <button type="submit" class="btn btn-primary" value="USD">Select</button> 
          </div><!-- /.col-lg-6 -->  
      </div><!-- /.строки -->  
     
  </form>

  <h2>Official {{ cur_abbreviation }} rate</h2>

  <table class="table table-striped table-condensed">
    <tr class="info">
      <th><h4>Data</h4></th>
      <th><h4>Scale</h4></th>
      <th><h4>Abbreviation</h4></th>
      <th><h4>Currency name</h4></th>
      <th><h4>Exchange rate</h4></th>
      <th><h4>BIN</h4></th>
    </tr>
    {% for i in text%}
    <tr>
      <th><h4>{{ i["date" ] }}</h4></th> 
      <th><h4>{{ i["cur_scale"] }}</h4></th>
      <th><h4>{{ i["cur_abbreviation"] }}</h4></th>
      <th><h4>{{ i["cur_name"] }}</h4></th>
      <th><h4>{{ i["cur_officialRate"] }}</h4></th>
      <th><h4>BIN</h4></th>
    </tr>
    {% endfor %}
  </table>
   
{% endblock %}