.idea/
.idea/*

lib/
lib/*

*.py[cod]
*.pyc

bin/
bin/*

share/
share/*

local/
local/*

include/
include/*

env/
myvenv/pyvenv.cfg
myvenv/Scripts/Activate.ps1
myvenv/Scripts/activate
myvenv/Scripts/activate.bat
myvenv/Scripts/deactivate.bat
