{% extends "base.html" %}

{% block title %}
  Movies
{% endblock %}

{% block hello %}

<section class="touch">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 m-auto">
        <form  method="POST" class="form">
          <label for="inputState"><h2>Select date</h2></label>
          <select select name="date_movie" id="inputState" class="form__input"> 
            {% for date in dates %}
          <option  value="{{ date.date }}" >{{ date.date }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="form__btn" value="">Select</button> 
        </form>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="title">
    <h2 class="title__main">
      On the date {{ date_muvie }}
    </h2>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for i in pages.items %}
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="{{ i.muvi_image }}" alt="{{ i.name }}" class="img-thumbnail">
        <div class="caption">
          <h3 class="feature__title">
            {{ i.name }}
          </h3>
          <p class="feature__text">
            {{ i.film_genre }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="title__main">
    <nav>
     <ul class="pagination justify-content-center">
        <li {% if not pages.has_prev %} class="page-item disabled" {% endif %}>
          <a href="./?page={{ pages.prev_num }}&date={{ date_muvie }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>

        {% for page in pages.iter_pages(left_edge = 7, right_edge = 7) %}
        <li {% if page == pages.page %} class="page-item active" {% endif %}>
          <a href="./?page={{ page }}&date={{ date_muvie }}">{{ page }}<span class="sr-only"></span></a>
        </li>
        {% endfor %} 

        <li {% if not pages.has_next %} class="page-item disabled" {% endif %}>
            <a href="./?page={{ pages.next_num }}&date={{date_muvie}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %}