<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- font
   ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <title>
      {% block title %}
      {% endblock %} | Flask app
    </title>
    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="{{url_for("static", filename = "css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for("static", filename = "css/animatecss")}}">
    <link rel="stylesheet" href="{{url_for("static", filename = "css/main.css")}}">
    <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="{{url_for("static", filename = "favicon/favicon-16x16.png")}}" >
  </head>

  <body>  
    
    <header class="header">
      <div class="container">  
        <div class="row">
          <div class="col-lg-1">
              <img src="{{url_for("static", filename = "favicon/apple-touch-icon-60x60-precomposed.png")}}" alt="Logo" class="logo animated fadeInUp">
          </div>
          <div class="col-lg-11 ml-auto">
            <nav>              
              <ul class="menu d-flex nav nav-tabs nav-justified justify-content-center animated fadeInDown">
                <li class="menu__item">
                <a href=" {{url_for("home")}} ">Home</a>
                </li>
                <li class="menu__item">
                  <a href=" {{url_for("movies.index")}} ">Movies</a>
                </li>
                <li class="menu__item">
                  <a href=" {{url_for("weather.index")}} ">Weather</a>
                </li>
                <li class="menu__item">
                  <a href="{{ url_for("courses.index")}} ">Courses</a>
                </li>
                <li class="menu__item">
                  <a href="{{ url_for("contakts")}} ">Contacts</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <section id="container" class="features">
      {% block hello %}
      {% endblock %}              
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="credits">
              <p>Vadzim Gryshkevich</p>
              <p>E-mail: vadzim11@tut.by</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>