<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
      {% endblock %} | Flask app
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>
          <a class="navbar-brand" href=" {{ url_for("home") }} ">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href=" {{ url_for("movies.index") }} ">Movies <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href=" {{ url_for("weather.index") }} ">Weather <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href=" {{ url_for("courses.index") }} ">Courses <span class="sr-only">(current)</span></a></li>            
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <h1>
          {% block hello %}
          {% endblock %}
        </h1>
    </div>

  </body>
</html>