{% extends "base.html" %}

{% block title %}
  Weather
{% endblock %}

{% block hello %}
<div class="container">
  <form  method="POST">
    
      <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <div>
                <label for="inputState">Select town</label>
                <select select name="city_name" id="inputState" class="form-control">
                  <option  value="Minsk" selected>Minsk</option>
                  <option  value="Vitsyebsk" >Vitsyebsk</option>
                  <option  value="Mahilyow" >Mahilyow</option>
                  <option  value="Homyel" >Homyel</option>
                  <option  value="Brest" >Brest</option>
                  <option  value="Hrodna" >Hrodna</option>
                </select>
              </div>
            </div><!-- /input-группа --> 
            <button type="submit" class="btn btn-primary" value="Minsk">Select</button> 
          </div><!-- /.col-lg-6 -->  
      </div><!-- /.строки -->       
  </form>

  <h2>Weather and forecasts in {{city_name}}, BY</h2>

  <table class="table table-striped table-condensed">
    <tr class="info">
      <th><h4>Data of time forecasted</h4></th>
      <th><h4>Temperature</h4></th>
      <th><h4>Wind speed</h4></th>
      <th><h4>Atmospheric pressure</h4></th>
      <th><h4 class="text-center">Weather</h4></th>
    </tr>
    {% for i in text%}
    <tr>
      <th style="vertical-align:middle"><h4>{{ i["dt_txt" ] }}</h4></th> 
      <th style="vertical-align:middle"><h4>{{ i["temp"] }} °C</h4></th>
      <th style="vertical-align:middle"><h4>{{ i["wind_speed"] }} m/s</h4></th>
      <th style="vertical-align:middle"><h4>{{ i["pressure"] }} hPa</h4></th>
      <th class="bg-primary" style="vertical-align:middle"><img src="{{ i["weather_icon"] }}" class="img-responsive center-block" alt="Responsive image"></th>
    </tr>
    {% endfor %}
  </table>
{% endblock %}