{% extends "base.html" %}

{% block title %}
  Weather
{% endblock %}

{% block hello %}
<section class="touch">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 m-auto">
        <form  method="POST" class="form">
          <label for="inputState"><h2>Select town</h2></label>
          <select select name="city_name" id="inputState" class="form__input">
            <option  value="Minsk" selected>Minsk</option>
            <option  value="Vitsyebsk" >Vitsyebsk</option>
            <option  value="Mahilyow" >Mahilyow</option>
            <option  value="Homyel" >Homyel</option>
            <option  value="Brest" >Brest</option>
            <option  value="Hrodna" >Hrodna</option>
          </select>
          <button type="submit" class="form__btn" value="Minsk">Select</button> 
        </form>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="title">
    <h2 class="title__main">
      Weather and forecasts in {{city_name}}, BY
    </h2>
  </div>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <tr class="info">
        <th><h4>Data of time forecasted</h4></th>
        <th><h4>Temperature</h4></th>
        <th><h4>Wind speed</h4></th>
        <th><h4>Atmospheric pressure</h4></th>
        <th><h4 class="text-center">Weather</h4></th>
      </tr>
      {% for i in text%}
      <tr>
        <th style="vertical-align:middle"><h4>{{ i["dt_txt" ] }}</h4></th> 
        <th style="vertical-align:middle"><h4>{{ i["temp"] }} °C</h4></th>
        <th style="vertical-align:middle"><h4>{{ i["wind_speed"] }} m/s</h4></th>
        <th style="vertical-align:middle"><h4>{{ i["pressure"] }} hPa</h4></th>
        <th class="bg-primary" style="vertical-align:middle"><img src="{{ i["weather_icon"] }}" class="img-responsive center-block" alt="Responsive image"></th>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}